@font-face {
	font-family: "Raleway";
	src: url("../assets/fonts/Raleway-Light.eot");
	src: url("../assets/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/Raleway-Light.woff2") format("woff2"),
		url("../assets/fonts/Raleway-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../assets/fonts/Raleway-Regular.eot");
	src: url("../assets/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/Raleway-Regular.woff2") format("woff2"),
		url("../assets/fonts/Raleway-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../assets/fonts/Raleway-Medium.eot");
	src: url("../assets/fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/Raleway-Medium.woff2") format("woff2"),
		url("../assets/fonts/Raleway-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "Outfit";
	src: url("../assets/fonts/outfit-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Imprint MT Shadow";
	src: url("../assets/fonts/ImprintMT-Shadow.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Shelley Andante Script";
	src: url("../assets/fonts/Shelley-AndanteScript.eot");
	src: local("Shelley Andante Script"), local("../assets/fonts/Shelley-AndanteScript"),
		url("../assets/fonts/Shelley-AndanteScript.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/Shelley-AndanteScript.woff2") format("woff2"),
		url("../assets/fonts/Shelley-AndanteScript.woff") format("woff"),
		url("../assets/fonts/Shelley-AndanteScript.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFProDisplay-Regular.eot");
	src: url("../assets/fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
		url("../assets/fonts/SFProDisplay-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../assets/fonts/SFProDisplay-Light.eot");
	src: url("../assets/fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/SFProDisplay-Light.woff2") format("woff2"),
		url("../assets/fonts/SFProDisplay-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display Thin";
	src: url("../assets/fonts/SFProDisplay-Thin.eot");
	src: url("../assets/fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/SFProDisplay-Thin.woff2") format("woff2"),
		url("../assets/fonts/SFProDisplay-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display Ultra-Light";
	src: url("../assets/fonts/SFProDisplay-Ultralight.eot");
	src: url("../assets/fonts/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/SFProDisplay-Ultralight.woff2") format("woff2"),
		url("../assets/fonts/SFProDisplay-Ultralight.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "suissnord";
	src: url("../assets/fonts/suissnord.ttf") format("truetype");
}