$mainColor: #04070F;
$japanese-indigo: #163D4F;
$cyan: #17fffb;
$white: #ffffff;
$creamy: #D2D4D7;
$transparent: rgba(0, 0, 0, 0);
$md1: 1440px;

.header {
	position: fixed;
	z-index: 4;
	display: flex;
	align-items: center;
	top: 0;
	padding: 0;
	height: 85px;
	width: calc(100% - 10px);
	background-color: #04070f74;
	transition: all ease-out 1.5s;

	&.active {
		background-color: $mainColor;
	}

	.header__container {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		margin-inline: auto;
		justify-content: space-between;
		padding: 0 calc($md1 / 10) 0 calc($md1 / 10);

		.header__links {
			height: 100%;
			width: calc(($md1 / 10) * 6);
			display: flex;
			align-items: center;
			justify-content: center;

			ul {
				width: 100%;
				display: inline-flex;
				align-items: center;
				justify-content: space-between;

				li {
					list-style: none;
					line-height: 20px;
					width: auto;

					&:last-child {
						margin: 0;
					}

					a {
						color: $creamy;
						font-size: calc(var(--index) * .65);
						position: relative;
						display: inline-block;
						width: auto;
						text-transform: capitalize;
						font-family: "raleway", sans-serif;
						font-weight: 400;

						&::after {
							content: "";
							position: absolute;
							height: 2px;
							border-radius: 2px;
							width: 100%;
							bottom: -3px;
							display: block;
							background-color: $creamy;
							transform: scaleX(0);
							transition: .3s ease-out;
						}

						&:hover {
							&::after {
								transform: scaleX(1);
							}
						}
					}
				}
			}
		}

		.header__contact {
			height: 100%;
			width: calc(($md1 / 10) * 1.5);
			display: flex;
			align-items: center;
			justify-content: end;

			a {
				display: inline-flex;
				height: calc(var(--index) * 1.8);
				padding: 0 var(--index);
				border: 1px solid $japanese-indigo;
				border-radius: 8px;
				position: relative;
				justify-content: center;
				align-items: center;
				color: $creamy;
				margin: 0 calc(var(--index) * 1) 0 0;
				font-size: calc(var(--index) * .65);
			}

			button {
				display: inline-flex;
				height: calc(var(--index) * 1.8);
				width: calc(var(--index) * 1.8);
				position: relative;
				justify-content: center;
				align-items: center;
				transition: 1s;
				border-radius: 50%;
				background-color: $transparent;

				.frame {
					height: calc(var(--index) * 1.8);
					width: calc(var(--index) * 1.8);
					border-radius: 50px;
					border: calc(var(--index) * .3) solid $creamy;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					transition: .1s ease-in;

					span {
						color: $creamy;
						font-size: calc(var(--index) * .65);
					}
				}

				&:active {
					.frame {
						border: calc(var(--index) * .1) solid $creamy;
						transition: .5s;
					}
				}
			}
		}
	}
}