@font-face {
	font-family: "raleway";
	src: url("../assets/fonts/raleway-regular.woff2");
}


@font-face {
	font-family: "outfit";
	src: url("../assets/fonts/outfit-regular.woff2");
}

@font-face {
	font-family: "Imprint MT Shadow";
	src: url("../assets/fonts/ImprintMT-Shadow.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}