$mainColor: #04070F;
$japanese-indigo: #163D4F;
$cyan: #17fffb;
$white: #ffffff;
$creamy: #D2D4D7;
$transparent: rgba(0, 0, 0, 0);
$md1: 1440px;

body {
	background-color: $mainColor;
	background-size: 50px;
	color: var(--color-text);
	font-family: "raleway";

	&::-webkit-scrollbar {
		background-color: $mainColor;
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 0px $creamy;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0px 0px 1px 1px $creamy;
	}
}

.content,
.hero,
.main-header,
.gallery>* {
	will-change: transform;
}

.wrapper {
	.content {
		.hero-section {
			height: 100vh;

			.hero {
				width: calc(var(--index) * 20);
				position: absolute;
				left: 0;
				z-index: -1;
			}

			.container {
				padding: 0 6vw;

				.main-header {
					height: 100vh;

					.main-title {
						text-transform: uppercase;
						font-family: "Imprint MT Shadow";
						position: absolute;
						width: min-content;
						right: 0;
						bottom: 10vh;
						display: flex;
						flex-direction: column;
						align-items: center;
						height: 20vh;

						.main-title__name {
							font-size: calc(var(--index) * 4);
							margin: 0;
							color: $creamy;
						}

						.main-title__description {
							font-size: calc(var(--index) * .75);
							margin: 2vh 0 0 0;
							color: $creamy;
						}
					}
				}
			}
		}

		.portfolio {
			.container {
				.gallery {
					display: flex;
					padding: calc(var(--index) * 10) 0;

					&>* {
						flex: 1;
						display: flex;
						align-items: center;
						flex-direction: column;
					}

					.gallery__left,
					.gallery__right {
						.gallery__item {
							max-width: calc(var(--index) * 20);
							margin: 0 0 var(--gallery-gap) 0;
							max-height: 90vh;
							border-radius: 8px;

							&.gallery__description {
								width: 564px;
								height: calc(var(--index) * 20);
								border: 1px solid $japanese-indigo;
								border-radius: 8px;
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: space-around;
								padding: 5%;

								.gallery__text {
									height: calc(((var(--index) * 20)) - 150px);
									text-align: justify;
									user-select: none;

									p {
										line-height: calc(var(--index) * 1.25);
										font-size: calc(var(--index) * .75);

										span {
											display: inline-block;

											&.gallery__signature {
												margin-left: 10px;
												font-family: "Shelley Andante Script";
												color: goldenrod;
												text-transform: capitalize;
												font-size: var(--index);
											}
										}
									}
								}

								.gallery__logo {
									width: 100%;
									height: 100px;
									display: flex;
									flex-wrap: wrap;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;

									.gallery__item {
										width: 30%;
										height: 100%;
										display: inline-flex;

										img {
											max-width: 100%;
											max-height: 100px;
											margin: auto 0;
										}
									}
								}

								.gallery__button {
									width: auto;
									display: inline-flex;
									align-items: center;
									justify-content: center;
									padding: 5px;
									border-radius: 8px;
									text-transform: none;
									color: $creamy;
									font-size: calc(var(--index) * .65);

									span {
										display: inline-flex;
										line-height: inherit;
										height: 100%;

										&::before {
											content: ">";
											position: absolute;
											animation: opacityBtn 1.5s infinite;
										}
									}
								}
							}

							&.gallery-slider {
								width: 564px;
								height: calc(var(--index) * 20);
								background: $transparent;

								.gallery-container {
									width: 100%;
									height: 100%;
									overflow: hidden;

									.gallery-wrapper {

										.gallery-slide {
											width: 100%;
											height: calc(var(--index) * 20);
											display: flex;
											align-items: center;
											background-color: $transparent;
										}
									}
								}
							}

							&.gallery-image {
								width: auto;
								margin: 0;
							}

							&.canvas-container {
								position: relative;
								top: 0;
								width: 564px;
								height: calc(var(--index) * 20);
								border-radius: 10px;
								overflow: hidden;
								z-index: -1;

								#circles {
									position: absolute;
									top: 0;
									left: 0;
									width: 564px;
									height: calc(var(--index) * 20);
									z-index: -1;
								}

								.gallery__cocktails {
									display: flex;
									align-items: center;
									justify-content: center;
									width: 100%;
									height: calc(var(--index) * 20);
									position: relative;

									p {
										color: $creamy;
										font-family: "Imprint MT Shadow";
										font-size: calc(var(--index) * 1.25);
										text-transform: uppercase;

										&.js-animate-in {
											animation-name: animate-in;
											animation-duration: 500ms;
											animation-fill-mode: forwards;
											animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
										}

										&.js-animate-out {
											animation-name: animate-out;
											animation-duration: 500ms;
											animation-fill-mode: forwards;
											animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
										}
									}
								}
							}

							.text-block__h {
								font-size: calc(var(--index) * 1.75);
								text-align: right;
								text-transform: uppercase;
							}
						}
					}

					.gallery__left {
						margin: calc(var(--gallery-gap) * 1.6) 0 0 0;
					}

					.gallery__right {
						.gallery__item {
							margin: var(--gallery-gap) 0 0 0;
						}
					}
				}
			}
		}

		.hall {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.hall__header {
				display: flex;
				flex-direction: column;
				align-items: center;

				.hall__h {
					font-size: calc(var(--index) * 1.5);
					text-transform: uppercase;

					span {

						&:nth-of-type(1),
						&:nth-of-type(2) {
							width: 100%;
							height: 100%;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							margin: 0;
							border-radius: unset;
							background-color: transparent;
							width: auto;
							height: auto;
						}

						&:nth-of-type(1) {
							animation: blinkLoader 3s infinite;
						}

						&:nth-of-type(2) {
							animation: blinkLoader 4s infinite;
						}
					}
				}

				.hall__p {
					margin: 20px 0 0 0;
					font-size: calc(var(--index) * .5);
					text-transform: uppercase;
				}
			}

			.hall__info {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
				flex: 1 auto;
				flex-wrap: wrap;
				width: 100%;

				.hall__scheme {
					height: calc(var(--index) * 30);
					width: calc(var(--index) * 30);
					min-width: 500px;
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						height: calc(var(--index) * 30);
					}

					.hall__interactive {
						height: calc(var(--index) * 30);
						width: calc(var(--index) * 30);
						position: absolute;

						a {
							font-size: calc(var(--index) * .55);
							display: inline-flex;
							color: $creamy;
							font-family: sans-serif;
							align-items: center;
							justify-content: center;
							height: calc(var(--index) * .8);
							border-radius: 2px;
							// background: #cfcbf7;
							background: linear-gradient(-45deg, $mainColor, #171169, $mainColor);
							background-size: 400% 400%;
							animation: gradient 10s ease infinite;
							border: .5px solid #cfcbf7;
							box-sizing: border-box;
							position: absolute;
							cursor: pointer;

							&.hall__scene {
								margin: calc(var(--index) * 7.35) 0 0 calc(var(--index) * 7.85);
								width: calc(var(--index) * 3.5);
								height: calc(var(--index) * 1.3);
								transform: rotate(-39deg);
								text-transform: uppercase;
							}

							&.hall__bar {
								margin: calc(var(--index) * 21.15) 0 0 calc(var(--index) * 12.4);
								width: calc(var(--index) * 4.3);
								height: calc(var(--index) * 1.05);
								text-transform: uppercase;
							}

							&.hall__table-1 {
								margin: calc(var(--index) * 11.5) 0 0 calc(var(--index) * 5.43);
								width: calc(var(--index) * 1.9);
							}

							&.hall__table-2 {
								margin: calc(var(--index) * 14.48) 0 0 calc(var(--index) * 5.2);
								width: var(--index);
							}

							&.hall__table-3 {
								margin: calc(var(--index) * 17.6) 0 0 calc(var(--index) * 5.6);
								width: calc(var(--index) * 1.7);
								transform: skew(29deg, -27deg);
								height: calc(var(--index) * 0.7);
							}

							&.hall__table-5 {
								margin: calc(var(--index) * 24.4) 0 0 calc(var(--index) * 19.2);
								width: calc(var(--index) * 1.2);
								transform: skew(33deg, -32deg);
								height: calc(var(--index) * 0.7);
							}

							&.hall__table-6 {
								margin: calc(var(--index) * 21.9) 0 0 calc(var(--index) * 22.2);
								width: calc(var(--index) * .9);
								transform: skew(50deg, -50deg);
								height: calc(var(--index) * 0.6);
								font-size: calc(var(--index) * 0.45);
							}

							&.hall__table-7 {
								margin: calc(var(--index) * 18.5) 0 0 calc(var(--index) * 24);
								width: calc(var(--index) * 1.35);
								transform: rotate(-69deg);
								height: calc(var(--index) * .8);
								font-size: calc(var(--index) * 0.45);
							}

							&.hall__table-8 {
								margin: calc(var(--index) * 15.3) 0 0 calc(var(--index) * 24.7);
								width: calc(var(--index) * 1);
								height: calc(var(--index) * 1.3);
							}

							&.hall__table-9 {
								margin: calc(var(--index) * 15.2) 0 0 calc(var(--index) * 19.35);
								width: calc(var(--index) * 2.1);
								transform: rotate(2.5deg);
							}

							&.hall__table-10 {
								margin: calc(var(--index) * 10.8) 0 0 calc(var(--index) * 17);
								width: calc(var(--index) * 3.7);
								transform: rotate(-20.5deg);
							}

							&.hall__table-11 {
								margin: calc(var(--index) * 10.9) 0 0 calc(var(--index) * 24.7);
								width: calc(var(--index) * 1);
								height: calc(var(--index) * 2.2);
							}

							&.hall__table-12 {
								margin: calc(var(--index) * 7.8) 0 0 calc(var(--index) * 24.7);
								width: calc(var(--index) * 1);
								height: calc(var(--index) * 2.2);
							}

							&.hall__table-14 {
								margin: calc(var(--index) * 3.5) 0 0 calc(var(--index) * 23.2);
								width: calc(var(--index) * 1);
								height: calc(var(--index) * 2.4);
							}

							&.hall__table-15 {
								margin: calc(var(--index) * 4.9) 0 0 calc(var(--index) * 14.35);
								width: calc(var(--index) * .9);
								height: calc(var(--index) * 2.2);
							}
						}
					}
				}

				.hall__reserve {
					width: calc(100vw - (var(--index) * 40));
					min-width: calc(var(--index) * 15);
					height: calc(var(--index) * 15);
					display: flex;
					flex-direction: column;
					align-items: start;
					justify-content: center;

					.hall__specials {
						width: 100%;

						li {
							font-size: calc(var(--index) * .85);
							color: $creamy;
						}
					}

					.hall__reserve-h {
						margin: 60px 0 0 0;
						font-size: calc(var(--index) * .8);
						text-transform: uppercase;
						background-image: linear-gradient(to right,
								#cfcbf7,
								$japanese-indigo 50%,
								$creamy 50%);
						background-size: 200% 100%;
						background-position: -100%;
						display: inline-block;
						padding: 5px 0;
						position: relative;
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						transition: all 0.3s ease-in-out;

						&::before,
						&::after {
							content: '';
							background: linear-gradient(to right, $transparent, #231E71, $cyan, #231E71, $transparent);
							display: block;
							position: absolute;
							left: 0;
							height: 2px;
						}

						&::before {
							bottom: -4px;
							width: 0;
							transition: all 0.3s ease-in-out;
						}

						&::after {
							top: -4px;
							width: 100%;
							animation: linkOpacity 5s linear infinite;
						}

						&:hover {
							background-position: 0;

							&::before {
								width: 100%;
							}
						}
					}
				}
			}
		}

		#hall__panoramic {
			width: calc(var(--index) * 40);
			height: calc(var(--index) * 40 / 2);
		}
	}
}


@keyframes animate-in {
	from {
		transform: translateY(50px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes animate-out {
	from {
		transform: translateY(0);
		opacity: 1;
	}

	to {
		transform: translateY(-50px);
		opacity: 0;
	}
}

@keyframes opacityBtn {
	0% {
		opacity: 0;
		transform: translateX(0px);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}

@keyframes blinkLoader {

	78% {
		color: inherit;
	}

	79% {
		color: $japanese-indigo;
	}

	80% {
		text-shadow: none;
	}

	81% {
		color: inherit;
		transform: none;
	}

	82% {
		color: $japanese-indigo;
		transform: skewY(20deg) translateY(35%);
	}

	83% {
		color: inherit;
		transform: none;
	}

	92% {
		color: $japanese-indigo;
		transform: skewY(20deg);
		text-shadow: 2px 2px 2px $japanese-indigo;
	}

	93% {
		color: inherit;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes linkOpacity {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}