@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
	--card-height: calc(var(--index) * 20);
	--card-width: calc(var(--card-height) / 1.5);
}

.wrapper {
	// .content {
	// 	.restaurant {
	// 		width: 100vw;
	// 		height: calc(100vh - 170px);
	// 		margin: 85px 0 0 0;
	// 		position: relative;
	// 		display: flex;
	// 		justify-content: center;
	// 		align-items: center;

	// 		.restaurant__cuisine,
	// 		.restaurant__bar {
	// 			display: inline-block;
	// 			position: absolute;
	// 			z-index: 2;
	// 			width: 70%;
	// 			height: 70%;
	// 			filter: url("#triangle");

	// 			&::before {
	// 				background-size: cover;
	// 				background-attachment: fixed;
	// 			}

	// 			h2 {
	// 				position: absolute;
	// 				z-index: 4;
	// 				font-size: calc(var(--index) * 1.5);
	// 				font-family: "SF Pro Display Ultra-Light", sans-serif;

	// 				span {
	// 					font-family: "Shelley Andante Script";
	// 					color: goldenrod;
	// 					font-size: calc(var(--index) * 1.25);
	// 				}
	// 			}
	// 		}

	// 		.restaurant__cuisine {
	// 			top: 14%;
	// 			left: 14%;
	// 			clip-path: polygon(0 0, 0% 100%, 100% 0);
	// 			// animation: fullClipRestaurant 1s linear;

	// 			&::before {
	// 				content: "";
	// 				display: block;
	// 				position: absolute;
	// 				top: 0;
	// 				left: 0;
	// 				width: 100%;
	// 				height: 100%;
	// 				// background: url("../assets/content/1.jpg");
	// 				background-color: var(--japanese-indigo);
	// 				clip-path: polygon(0 0, 0% 100%, 100% 0);
	// 				box-shadow: 1px 1px 15px 0px var(--main-color) inset;
	// 				// animation: fullClipRestaurant 1s linear;
	// 			}

	// 			// &:hover {
	// 			// 	animation: fullClipRestaurantHover 2s linear;
	// 			// 	z-index: 3;
	// 			// 	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

	// 			// 	&::before {
	// 			// 		z-index: 3;
	// 			// 		// animation: fullClipRestaurantHover 2s linear;
	// 			// 		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	// 			// 	}
	// 			// }

	// 			h2 {
	// 				color: var(--creamy);
	// 				top: var(--index);
	// 				left: var(--index);
	// 			}

	// 			&:hover {
	// 				h2 {
	// 					animation: glowLight 2500ms linear infinite;
	// 				}
	// 			}
	// 		}

	// 		.restaurant__bar {
	// 			bottom: 14%;
	// 			right: 14%;
	// 			clip-path: polygon(0 100%, 100% 100%, 100% 0);
	// 			// animation: fullClipBar 1s linear;

	// 			&::before {
	// 				content: "";
	// 				display: block;
	// 				position: absolute;
	// 				top: 0;
	// 				left: 0;
	// 				width: 100%;
	// 				height: 100%;
	// 				background-color: var(--creamy);
	// 				// background: url("../assets/content/jelsa-vokals-1.jpg");
	// 				clip-path: polygon(0 100%, 100% 100%, 100% 0);
	// 				box-shadow: 1px 1px 15px 0px var(--main-color) inset;
	// 				// animation: fullClipBar 1s linear;
	// 			}

	// 			// &:hover {
	// 			// 	animation: fullClipBarHover 2s linear;
	// 			// 	z-index: 3;
	// 			// 	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

	// 			// 	&::before {
	// 			// 		z-index: 3;
	// 			// 		animation: fullClipBarHover 2s linear;
	// 			// 		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	// 			// 	}
	// 			// }

	// 			h2 {
	// 				color: var(--japanese-indigo);
	// 				bottom: var(--index);
	// 				right: var(--index);
	// 			}

	// 			&:hover {
	// 				h2 {
	// 					animation: glowDark 2500ms linear infinite;
	// 				}
	// 			}
	// 		}

	// 		svg {
	// 			visibility: hidden;
	// 			position: absolute;
	// 		}
	// 	}
	// }

	.content {
		.restaurant {
			width: 100vw;
			height: calc(100vh - 170px);
			margin: 85px 0 0 0;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			a {
				margin: 0px 50px;
			}

			.card {
				width: var(--card-width);
				height: var(--card-height);
				position: relative;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				padding: 0 36px;
				perspective: 2500px;
				margin: 0px;

				.card__content {
					transition: all 0.5s;
					position: absolute;
					width: 100%;
					z-index: -1;

					.cover-image {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					&::before,
					&::after {
						content: "";
						opacity: 0;
						width: 100%;
						height: 80px;
						transition: all 0.5s;
						position: absolute;
						left: 0;
					}

					&::before {
						top: 0;
						height: 100%;
						background-image: linear-gradient(to top,
								transparent 46%,
								rgba(12, 13, 19, 0.5) 68%,
								rgba(12, 13, 19) 97%);
					}

					&::after {
						bottom: 0;
						opacity: 1;
						background-image: linear-gradient(to bottom,
								transparent 46%,
								rgba(12, 13, 19, 0.5) 68%,
								rgba(12, 13, 19) 97%);
					}
				}

				.character {
					width: 100%;
					opacity: 0;
					transition: all 0.5s;
					position: absolute;
					z-index: -1;
				}

				&:hover {
					.card__content {
						transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
						box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
						-webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
						-moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
					}
				}
			}

			.card:hover .card__content::before,
			.card__content::after {
				opacity: 1;
			}

			.card:hover .card__content::after {
				height: 120px;
			}

			.title {
				width: 100%;
				transition: transform 0.5s;
			}

			.card:hover .title {
				transform: translate3d(0%, -50px, 100px);
			}

			.card:hover .character {
				opacity: 1;
				transform: translate3d(0%, -30%, 100px);
			}
		}
	}
}


// Colors
$primary: slategray;
$accent: tomato;
$white: whitesmoke;
$green: #2ecc71;
$red: #e74c3c;
$wine-spectator: #8D1205;
$robert-parker: #179B3B;
$james-suckling: #B11A12;
$wine-enthusiast: #617D8B;

// Breakpoints
$sm: 20rem;
$med: 48rem;
$lg: 64rem;


.modal-aperitif,
.modal-spirits,
.modal-cuisine {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0vh;
	background-color: transparent;
	overflow: hidden;
	transition: background-color var(--base-duration) ease;
	z-index: 9999;

	&.modal-show,
	&.modal-show-spirits {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #04070f82;
		transition: background-color var(--base-duration);

		>.component-card__content,
		>.component-card__content-spirits {
			transform: scale(1.0);
			transition: var(--base-duration) linear;
		}
	}

	.component-card__content,
	.component-card__content-spirits {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: calc(var(--index) * 40 * .92);
		height: calc(var(--index) * 17);
		max-height: 100%;
		margin: 0 0 6% 0;
		padding: 2.5rem;
		background-color: #D2D4D7;
		border-radius: 8px;
		box-shadow: 0 0 2.5rem rgb(0 0 0 / 50%);
		transform: scale(0);
		transition: transform var(--base-duration);
		transition-delay: 0.15s;

		.close {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2.5rem;
			height: 2.5rem;
			border: none;
			background-color: transparent;
			font-size: 1.5rem;
			transition: var(--base-duration) linear;

			&:before,
			&:after {
				position: absolute;
				content: "";
				width: 1.25rem;
				height: 0.125rem;
				background-color: black;
			}

			&:before {
				transform: rotate(-45deg);
			}

			&:after {
				transform: rotate(45deg);
			}

			&:hover {
				transform: rotate(360deg);

				&:before,
				&:after {
					background-color: $accent;
				}
			}
		}

		.modal-header {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin: 0;
			padding: 0 0 1.25rem;

			h2 {
				color: var(--japanese-indigo);
				font-size: calc(var(--index) * 1.2);
				font-weight: bold;
			}
		}

		.component {
			position: relative;
			display: flex;
			flex-direction: column;

			&__description {
				font-size: calc(var(--index) * .6);
				line-height: 1.75;
				text-align: justify;
				font-family: "Raleway";
				font-weight: 300;
				color: $primary;
			}

			&__info {
				margin: var(--index) 0 0 0;

				ul {
					display: inline-flex;
					width: 100%;
					justify-content: space-between;
					font-family: "SF Pro Display Thin";

					li {
						width: 30%;
						display: inline-grid;
						grid-template-columns: auto 1fr;
						font-size: calc(var(--index) * .6);
						text-transform: capitalize;
						list-style: none;
						color: $primary;

						span {
							color: var(--main-color);
							margin: 0 5px 0 0;
							font-family: "SF Pro Display";
							font-weight: 300;
						}

						&:nth-of-type(1),
						&:nth-of-type(4) {
							width: 15%;
						}
					}
				}
			}

			&__ratings {
				display: flex;
				width: 25%;
				margin: calc(var(--index) * 1.5) 0 0 0;
				align-items: center;
				justify-content: space-between;

				.component__wine-spectator,
				.component__robert-parker,
				.component__james-suckling,
				.component__wine-enthusiast {
					padding: calc(var(--index) * .4);
					border: .5px solid;
					font-size: calc(var(--index) * .5);
					font-family: "SF Pro Display", sans-serif;
					font-weight: 300;
					text-transform: uppercase;
					border-radius: 8px;
					cursor: pointer;
				}

				.component__wine-spectator {
					color: $wine-spectator;
					border-color: $wine-spectator;
				}

				.component__robert-parker {
					color: $robert-parker;
					border-color: $robert-parker;
				}

				.component__james-suckling {
					color: $james-suckling;
					border-color: $james-suckling;
				}

				.component__wine-enthusiast {
					color: $wine-enthusiast;
					border-color: $wine-enthusiast;
				}
			}
		}
	}
}

// @keyframes fullClipRestaurant {
// 	0% {
// 		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
// 		z-index: 3;
// 	}

// 	17% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100.19% 18.09%, 100.88% 38.07%, 102.15% 59.57%, 110.02% 105%, 83.27% 101.96%, 63.33% 103.41%, 45.96% 107.57%, 24.83% 108.59%);
// 		z-index: 3;
// 	}

// 	34% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100.19% 18.09%, 100.88% 38.07%, 102.15% 59.57%, 110.02% 105%, 81.5% 98.64%, 63.33% 103.41%, 45.96% 107.57%, 24.83% 108.59%);
// 		z-index: 3;
// 	}

// 	51% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100.19% 18.09%, 100.88% 38.07%, 102.15% 59.57%, 95.29% 83.96%, 81.5% 98.64%, 56.26% 94.11%, 45.96% 107.57%, 24.83% 108.59%);
// 		z-index: 3;
// 	}

// 	68% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100.19% 18.09%, 100.88% 38.07%, 85.8% 48.27%, 75.7% 66.69%, 61.77% 78.48%, 46.83% 81.93%, 40.07% 91.4%, 24.83% 108.59%);
// 		z-index: 3;
// 	}

// 	85% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 99.45% 15.21%, 92.49% 31.2%, 82.71% 35.87%, 70.1% 50.3%, 56.62% 62.75%, 42.12% 75.51%, 35.36% 84.09%, 20.71% 94.19%);
// 		z-index: 3;
// 	}

// 	100% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 94% 13%, 81% 23%, 78% 31%, 62% 41%, 55% 55%, 38% 62%, 33% 77%, 16% 84%);
// 		z-index: 2;
// 	}
// }

// @keyframes fullClipRestaurantHover {
// 	0% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 94% 13%, 81% 23%, 78% 31%, 62% 41%, 55% 55%, 38% 62%, 33% 77%, 16% 84%);
// 	}

// 	17% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 99.45% 15.21%, 92.49% 31.2%, 82.71% 35.87%, 70.1% 50.3%, 56.62% 62.75%, 42.12% 75.51%, 35.36% 84.09%, 20.71% 94.19%);
// 	}

// 	34% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100.19% 18.09%, 100.88% 38.07%, 85.8% 48.27%, 75.7% 66.69%, 61.77% 78.48%, 46.83% 81.93%, 40.07% 91.4%, 24.83% 108.59%);
// 	}

// 	51% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100.19% 18.09%, 100.88% 38.07%, 102.15% 59.57%, 95.29% 83.96%, 81.5% 98.64%, 56.26% 94.11%, 45.96% 107.57%, 24.83% 108.59%);
// 	}

// 	68% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100.19% 18.09%, 100.88% 38.07%, 102.15% 59.57%, 110.02% 105%, 81.5% 98.64%, 63.33% 103.41%, 45.96% 107.57%, 24.83% 108.59%);
// 	}

// 	85% {
// 		clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100.19% 18.09%, 100.88% 38.07%, 102.15% 59.57%, 110.02% 105%, 83.27% 101.96%, 63.33% 103.41%, 45.96% 107.57%, 24.83% 108.59%);
// 	}

// 	100% {
// 		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
// 	}
// }

// @keyframes fullClipBar {
// 	0% {
// 		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
// 		z-index: 3;
// 	}

// 	17% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, -0.95% 19.29%, 9.05% 7.25%, 23.1% 1.88%, 36.5% 0.47%, 45.06% -1.56%, 50.03% -3.78%, 56.94% 0.48%, 76.34% -2.1%);
// 		z-index: 3;
// 	}

// 	34% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, -3.31% 38.78%, 13.32% 26.08%, 27.22% 20.71%, 39.15% 15.53%, 47.27% 11.73%, 51.8% 5.74%, 56.94% 0.48%, 76.34% -2.1%);
// 		z-index: 3;
// 	}

// 	51% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, -1.1% 63.36%, 17.88% 57.09%, 26.77% 45.51%, 43.72% 37.46%, 51.69% 25.46%, 61.23% 14.38%, 67.99% 1.81%, 76.34% -2.1%);
// 		z-index: 3;
// 	}

// 	68% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5.09% 71.33%, 20.83% 66.17%, 33.69% 60.13%, 43.57% 48.31%, 51.69% 36.76%, 64.62% 23.02%, 74.76% 6.68%, 84.44% -1.21%);
// 		z-index: 3;
// 	}

// 	85% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 10.24% 79.75%, 25.1% 70.82%, 37.81% 61.9%, 49.9% 50.75%, 61.85% 40.75%, 71.1% 25.9%, 78% 13.55%, 86.65% 4.33%);
// 		z-index: 3;
// 	}

// 	100% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 15.84% 83.96%, 32.91% 77.02%, 37.81% 61.9%, 55.05% 54.96%, 61.85% 40.75%, 78.02% 30.99%, 80.80% 23.07%, 93.57% 12.97%);
// 		z-index: 2;
// 	}
// }

// @keyframes fullClipBarHover {
// 	0% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 15.84% 83.96%, 32.91% 77.02%, 37.81% 61.9%, 55.05% 54.96%, 61.85% 40.75%, 78.02% 30.99%, 80.80% 23.07%, 93.57% 12.97%);
// 	}

// 	17% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 10.24% 79.75%, 25.1% 70.82%, 37.81% 61.9%, 49.9% 50.75%, 61.85% 40.75%, 71.1% 25.9%, 78% 13.55%, 86.65% 4.33%);
// 	}

// 	34% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 5.09% 71.33%, 20.83% 66.17%, 33.69% 60.13%, 43.57% 48.31%, 51.69% 36.76%, 64.62% 23.02%, 74.76% 6.68%, 84.44% -1.21%);
// 	}

// 	51% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, -1.1% 63.36%, 17.88% 57.09%, 26.77% 45.51%, 43.72% 37.46%, 51.69% 25.46%, 61.23% 14.38%, 67.99% 1.81%, 76.34% -2.1%);
// 	}

// 	68% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, -3.31% 38.78%, 13.32% 26.08%, 27.22% 20.71%, 39.15% 15.53%, 47.27% 11.73%, 51.8% 5.74%, 56.94% 0.48%, 76.34% -2.1%);
// 	}

// 	85% {
// 		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, -2.57% 11.54%, 7.72% 4.81%, 21.63% -3.21%, 34.88% -3.3%, 45.06% -1.56%, 50.03% -3.78%, 57.53% -2.4%, 76.34% -2.1%);
// 	}

// 	100% {
// 		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
// 	}
// }

// .frame {
// 	position: relative;
// 	perspective: 40em;
// 	display: grid;
// 	transform-style: preserve-3d;
// }

// .card {
// 	grid-area: 1 / 1;
// 	height: 200px;
// 	width: 400px;
// 	transform: translateX(10px) rotateY(25deg) rotateX(10deg);
// 	background: rgba(249, 198, 26, 0.88);
// 	display: flex;
// 	justify-content: flex-start;
// 	align-items: center;
// 	padding: 30px;
// 	color: var(--main-color);
// 	text-transform: uppercase;
// 	font-size: 60px;
// 	font-weight: 900;
// 	backface-visibility: hidden;
// 	box-shadow: 0 10px 30px -3px rgba(0, 0, 0, .1);
// }

// h1 {
// 	font-size: 60px;
// 	font-weight: 900;
// }

// .card .enclosed {
// 	background: var(--main-color);
// 	line-height: 1;
// 	color: rgba(249, 198, 26, 1);
// 	padding: 0 5px;
// 	display: inline-block;
// 	transform: translate(-1px, 1px) scale(0.75);
// 	transform-origin: right center;
// }

// .frame:before {
// 	--bw: 9px;
// 	grid-area: 1 / 1;
// 	content: "";
// 	backface-visibility: hidden;
// 	height: 100%;
// 	width: 100%;
// 	margin-top: calc(-1 * var(--bw));
// 	margin-left: calc(-1 * var(--bw));
// 	background: transparent;
// 	transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
// 	pointer-events: none;
// 	border: var(--bw) solid var(--creamy);
// 	border-radius: 8px;
// 	box-sizing: content-box;
// }


// .frame:hover>div,
// .frame:hover:before {
// 	transform: none;
// }


// .frame>div,
// .frame:before {
// 	will-change: transform;
// 	transition: .3s transform cubic-bezier(.25, .46, .45, 1);
// }

// @keyframes glowLight {
// 	40% {
// 		text-shadow: 0 0 8px var(--creamy);
// 	}
// }

// @keyframes glowDark {
// 	40% {
// 		text-shadow: 0 0 8px var(--japanese-indigo);
// 	}
// }