$xs-small-min: 320px;
$xs-small-max: 379.98px;
$x-small-min: 380px;
$x-small-max: 479.98px;
$small-min: 480px;
$small-max: 575.98px;
$medium-min: 576px;
$medium-max: 767.98px;
$large-min: 768px;
$large-max: 991.98px;
$x-large-min: 992px;
$x-large-max: 1199.98px;
$xl-large-min: 1200px;
$xl-large-max: 1439.98px;
$xxl-large-min: 1440px;
$xxl-large-max: 1919.98px;

@media only screen and (min-width:$xs-small-min) and (max-width:$medium-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.contact {
				flex-direction: column;
				height: calc((100vh - 170px) * 1.8);

				.contact__map {
					height: calc((100vh - 170px) * 1);
					width: 100%;

					iframe {
						max-width: 80%;
						min-height: 80%;
					}
				}

				.contact__description {
					width: 100%;
					height: 40%;

					.contact__info {
						width: 80%;
						height: 100%;
						align-items: center;

						ul {
							text-align: center;

							.contact__call,
							.contact__schedule,
							.contact__address,
							.contact__social {
								font-size: calc(var(--index) * 1.1);

								a {
									font-size: calc(var(--index) * 1.1);
								}

								span {
									font-size: calc(var(--index) * 1.2);
								}
							}
						}

						.contact__rules {
							height: calc(var(--index) * 3);
							width: 60%;
							font-size: calc(var(--index) * 0.85);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: $xs-small-min) and (max-height: $medium-max) and (orientation: landscape) {
	.wrapper {
		.content {
			.contact {
				margin: 85px 0 0 0;

				.contact__map {
					width: 60%;

					iframe {
						max-width: 80%;
					}
				}

				.contact__description {
					width: 40%;

					.contact__info {
						align-items: center;

						ul {
							text-align: center;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: $xs-small-min) and (max-height: 439.98px) and (orientation: landscape) {
	.wrapper {
		.content {
			.contact {
				height: calc(100vh - 85px);
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: 440px) and (max-height: $medium-max) and (orientation: landscape) {
	.wrapper {
		.content {
			.contact {
				height: calc(100vh - 170px);
			}
		}
	}
}