$xs-small-min: 320px;
$xs-small-max: 379.98px;
$x-small-min: 380px;
$x-small-max: 479.98px;
$small-min: 480px;
$small-max: 575.98px;
$medium-min: 576px;
$medium-max: 767.98px;
$large-min: 768px;
$large-max: 991.98px;
$x-large-min: 992px;
$x-large-max: 1199.98px;
$xl-large-min: 1200px;
$xl-large-max: 1439.98px;
$xxl-large-min: 1440px;
$xxl-large-max: 1919.98px;

// @media only screen and (min-width:$xs-small-min) and (max-width:$xs-small-max) and (orientation: portrait) {}

// @media only screen and (min-width:$xs-small-min) and (max-width:$xs-small-max) and (orientation: landscape) {}

// @media only screen and (min-width:$x-small-min) and (max-width:$x-small-max) and (orientation: portrait) {}

// @media only screen and (min-width:$x-small-min) and (max-width:$x-small-max) and (orientation: landscape) {}

// @media only screen and (min-width:$small-min) and (max-width:$small-max) and (orientation: portrait) {}

// @media only screen and (min-width:$small-min) and (max-width:$small-max) and (orientation: landscape) {}

// @media only screen and (min-width:$medium-min) and (max-width:$medium-max) and (orientation: portrait) {}

// @media only screen and (min-width:$medium-min) and (max-width:$medium-max) and (orientation: landscape) {}

// @media only screen and (min-width:$large-min) and (max-width:$large-max) and (orientation: portrait) {}

// @media only screen and (min-width:$large-min) and (max-width:$large-max) and (orientation: landscape) {}

// @media only screen and (min-width:$x-large-min) and (max-width:$x-large-max) and (orientation: portrait) {}

// @media only screen and (min-width:$x-large-min) and (max-width:$x-large-max) and (orientation: landscape) {}

// @media only screen and (min-width:$xl-large-min) and (max-width:$xl-large-max) and (orientation: portrait) {}

// @media only screen and (min-width:$xl-large-min) and (max-width:$xl-large-max) and (orientation: landscape) {}

// 320 - 379.98
@media only screen and (min-width:$xs-small-min) and (max-width:$xs-small-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.modal-ny {
				.modal-ny__card {
					width: calc(100vw - var(--index) * 2);
					height: auto;
					flex-direction: column-reverse;

					.modal-ny__info,
					.modal-ny__wallpaper {
						width: 100%;
					}

					.modal-ny__info {
						min-height: calc(var(--index) * 16);
						border-radius: calc(var(--index) * 0.5) calc(var(--index) * 0.5) 0 0;
						flex-direction: column-reverse;
						justify-content: space-evenly;
						align-items: unset;

						.modal-ny__proposal {
							margin: 0 auto;

							ul {
								display: inline-flex;
								width: 100%;
								justify-content: space-around;
								margin: calc(var(--index) * 1.5) 0;

								li {
									margin: 0;
								}
							}

							a {
								padding: calc(var(--index) * .75);
							}
						}

						.modal-ny__outer {
							margin: 0;
							position: absolute;
							right: calc(var(--index) * 2);
							top: calc(var(--index) * 2);
						}
					}

					.modal-ny__wallpaper {
						border-radius: 0 0 calc(var(--index) * 0.5) calc(var(--index) * 0.5);
					}
				}
			}
		}
	}
}

// 380 - 479.98
@media only screen and (min-width:$x-small-min) and (max-width:$x-small-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.modal-ny {
				.modal-ny__card {
					width: calc(100vw - var(--index) * 2);
					height: auto;
					flex-direction: column-reverse;

					.modal-ny__info,
					.modal-ny__wallpaper {
						width: 100%;
					}

					.modal-ny__info {
						min-height: calc(var(--index) * 16);
						border-radius: calc(var(--index) * 0.5) calc(var(--index) * 0.5) 0 0;
						flex-direction: column-reverse;
						justify-content: space-evenly;
						align-items: unset;

						.modal-ny__proposal {
							margin: 0 auto;

							ul {
								display: inline-flex;
								width: 100%;
								justify-content: space-around;
								margin: calc(var(--index) * 1.5) 0;

								li {
									margin: 0;
								}
							}

							a {
								padding: calc(var(--index) * .75);
							}
						}

						.modal-ny__outer {
							margin: 0;
							position: absolute;
							right: calc(var(--index) * 2);
							top: calc(var(--index) * 2);
						}
					}

					.modal-ny__wallpaper {
						border-radius: 0 0 calc(var(--index) * 0.5) calc(var(--index) * 0.5);
					}
				}
			}
		}
	}
}

// 480 - 575.98
@media only screen and (min-width:$small-min) and (max-width:$small-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.modal-ny {
				.modal-ny__card {
					width: calc(100vw - var(--index) * 2);
					height: auto;
					flex-direction: column-reverse;

					.modal-ny__info,
					.modal-ny__wallpaper {
						width: 100%;
					}

					.modal-ny__info {
						min-height: calc(var(--index) * 16);
						border-radius: calc(var(--index) * 0.5) calc(var(--index) * 0.5) 0 0;
						flex-direction: column-reverse;
						justify-content: space-evenly;
						align-items: unset;

						.modal-ny__proposal {
							margin: 0 auto;
							min-height: calc(var(--index) * 12);

							ul {
								display: inline-flex;
								width: 100%;
								justify-content: space-around;
								margin: calc(var(--index) * 1.5) 0;

								li {
									margin: 0;
								}
							}

							a {
								padding: calc(var(--index) * .75);
							}
						}

						.modal-ny__outer {
							margin: 0;
							position: absolute;
							right: calc(var(--index) * 2);
							top: calc(var(--index) * 2);
						}
					}

					.modal-ny__wallpaper {
						border-radius: 0 0 calc(var(--index) * 0.5) calc(var(--index) * 0.5);
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$small-min) and (max-width:$small-max) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: center;

				.modal-ny__card {
					width: calc(100% - calc($small-max / 7));
					height: calc(var(--index) * 24);
					top: 0;

					.modal-ny__info,
					.modal-ny__wallpaper {
						width: 100%;
					}

					.modal-ny__info {
						min-height: calc(var(--index) * 16);
						border-radius: 0 calc(var(--index) * 0.5) calc(var(--index) * 0.5) 0;
						flex-direction: column-reverse;
						justify-content: space-evenly;
						align-items: unset;

						.modal-ny__proposal {
							margin: 0 auto;
							min-height: calc(var(--index) * 12);

							ul {
								display: inline-flex;
								width: 100%;
								justify-content: space-around;
								margin: calc(var(--index) * 1.5) 0;

								li {
									margin: 0;
								}
							}

							a {
								padding: calc(var(--index) * .75);
							}
						}

						.modal-ny__outer {
							margin: 0;
							position: absolute;
							right: var(--index);
							top: var(--index);
						}
					}

					.modal-ny__wallpaper {
						border-radius: calc(var(--index) * 0.5) 0 0 calc(var(--index) * 0.5);
					}
				}
			}
		}
	}
}

// 576 - 767.98
@media only screen and (min-width:$medium-min) and (max-width:$medium-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.modal-ny {
				.modal-ny__card {
					width: calc(100vw - var(--index) * 2);
					height: auto;
					flex-direction: column-reverse;

					.modal-ny__info,
					.modal-ny__wallpaper {
						width: 100%;
					}

					.modal-ny__info {
						min-height: calc(var(--index) * 16);
						border-radius: calc(var(--index) * 0.5) calc(var(--index) * 0.5) 0 0;
						flex-direction: column-reverse;
						justify-content: space-evenly;
						align-items: unset;

						.modal-ny__proposal {
							margin: 0 auto;
							min-height: calc(var(--index) * 14);

							h2 {
								font-size: calc(var(--index) * 2.5);
							}

							ul {
								display: inline-flex;
								width: 100%;
								justify-content: space-around;
								margin: calc(var(--index) * 1.5) 0;

								li {
									margin: 0;
									font-size: calc(var(--index) * 0.9);
								}
							}

							a {
								padding: calc(var(--index) * .75);
								font-size: calc(var(--index) * 0.9);
							}
						}

						.modal-ny__outer {
							margin: 0;
							position: absolute;
							right: calc(var(--index) * 2);
							top: calc(var(--index) * 2);
						}
					}

					.modal-ny__wallpaper {
						border-radius: 0 0 calc(var(--index) * 0.5) calc(var(--index) * 0.5);
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$medium-min) and (max-width:$medium-max) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: center;

				.modal-ny__card {
					width: calc(100% - calc($medium-max / 7));
					height: calc(var(--index) * 24);
					top: 0;

					.modal-ny__info,
					.modal-ny__wallpaper {
						width: 100%;
					}

					.modal-ny__info {
						min-height: calc(var(--index) * 16);
						border-radius: 0 calc(var(--index) * 0.5) calc(var(--index) * 0.5) 0;
						flex-direction: column-reverse;
						justify-content: space-evenly;
						align-items: unset;

						.modal-ny__proposal {
							margin: 0 auto;
							min-height: calc(var(--index) * 12);

							ul {
								display: inline-flex;
								width: 100%;
								justify-content: space-around;
								margin: calc(var(--index) * 1.5) 0;

								li {
									margin: 0;
								}
							}

							a {
								padding: calc(var(--index) * .75);
							}
						}

						.modal-ny__outer {
							margin: 0;
							position: absolute;
							right: var(--index);
							top: var(--index);
						}
					}

					.modal-ny__wallpaper {
						border-radius: calc(var(--index) * 0.5) 0 0 calc(var(--index) * 0.5);
					}
				}
			}
		}
	}
}

// 768 - 991.98
@media only screen and (min-width:$large-min) and (max-width:$large-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.modal-ny {
				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: unset;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					top: 85px;

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 28);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (max-height: 360px) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: unset;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					top: 85px;
					height: calc(var(--index) * 18);

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 26);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: $x-small-min) and (max-height: 429.98px) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: unset;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					top: 85px;
					height: calc(var(--index) * 22);

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 26);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: 430px) and (max-height: 479.98px) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: unset;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					top: 85px;
					height: calc(var(--index) * 24);

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 26);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: 430px) and (max-height: 479.98px) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: unset;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					top: 85px;
					height: calc(var(--index) * 24);

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 26);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: $small-min) and (max-height: 529.98px) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: unset;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					top: 85px;
					height: calc(var(--index) * 26);

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 30);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: 530px) and (max-height: $small-max) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: unset;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					top: 85px;
					height: calc(var(--index) * 28);

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 30);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: $medium-min) and (max-height: 619.98px) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: center;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					height: calc(var(--index) * 24);
					top: 0;

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 30);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: 620px) and (max-height: $medium-max) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: center;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					height: calc(var(--index) * 24);
					top: 0;

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 30);
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:$large-min) and (max-width:$large-max) and (min-height: $large-min) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				align-items: center;

				.modal-ny__card {
					width: calc(100% - calc($large-max / 7));
					height: calc(var(--index) * 24);
					top: 0;

					.modal-ny__wallpaper {
						.modal-ny__call {
							width: calc(var(--index) * 30);
						}
					}
				}
			}
		}
	}
}

// 992 - 1199.98
@media only screen and (min-width:$x-large-min) and (max-width:$x-large-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.modal-ny {
				.modal-ny__card {
					width: calc(100% - calc($x-large-max / 7));
				}
			}
		}
	}
}

@media only screen and (min-width:$x-large-min) and (max-width:$x-large-max) and (orientation: landscape) {}

// 1200 - 1439.98
@media only screen and (min-width:$xl-large-min) and (max-width:$xl-large-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.modal-ny {
				.modal-ny__card {
					width: calc(100% - calc($xl-large-max / 7));
				}
			}
		}
	}
}

@media only screen and (min-width:$xl-large-min) and (max-width:$xl-large-max) and (orientation: landscape) {}

// 1440 - 1919.98
@media only screen and (min-width: $xxl-large-min) and (max-width:$xxl-large-max) and (orientation: portrait) {
	.wrapper {
		.content {
			.modal-ny {
				width: 100%;

				.modal-ny__card {
					width: calc(100% - calc($xxl-large-max / 7));
				}
			}
		}
	}
}

// width > 1920
@media only screen and (min-width: 1920px) and (min-height: 1080px) and (orientation: landscape) {
	.wrapper {
		.content {
			.modal-ny {
				width: 100%;
			}
		}
	}
}