<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Jel'sa. Бар
	</title>
</head>

<body>
	<%= require("html-loader!./html/includes/_header.html").default %>
		<div class="wrapper">
			<div class="content">
				<%= require("html-loader!./html/includes/_bar-list-slider.html").default %>
					<%= require("html-loader!./html/includes/_footer.html").default %>
			</div>
		</div>
</body>

</html>