<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		Jel'sa
	</title>

	<link rel="shortcut icon" href="./assets/content/logo.png" type="image/png">

</head>

<body>
	<%= require("html-loader!./html/includes/_header.html").default %>
		<%= require("html-loader!./html/includes/_faq.html").default %>
			<%= require("html-loader!./html/includes/_footer.html").default %>
</body>

</html>