<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Language" content="ru">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description"
		content=" Незабываемые впечатления в караоке-клубе Jel'sa! Забронируйте столик: 8 044 5-201-201.  #караоке #минск #jelsa">
	<meta name="keywords" content="Jel'sa,Jelsa,Jelsomino,Джельса,Джельсомино,Караоке,Караоке,Минск">
	<meta name="format-detection" content="telephone=yes">
	<meta name="Author" content="Alexeev Ivan">
	<meta name="Copyright" content="ООО Вокал Индастрит">
	<meta name="Address" content="Республика Беларусь, Минск, Немига 5">
	<meta name="robots" content="all">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="website">
	<meta property="og:descritpion"
		content="Насладись атмосферой незабываемых впечатлений в караоке-клубе Jel'sa. Бронь: 8 044 5-201-201.">
	<meta property="og:image" content="https://jelsa.by/assets/svg/wings.svg">
	<meta property="og:url" content="https://jelsa.by/">
	<meta property="og:site_name" content="Караоке Jel'sa">
	<meta name="google-site-verification" content="KG0IzbV_gyGFJiWm1CaDswHWqU1sXvicV_ZSYg346UY" />

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { window.dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'GA_TRACKING_ID');
	</script>

	<title>
		Jel'sa
	</title>

	<link rel="shortcut icon" href="./assets/content/logo.png" type="image/png">

</head>

<body>
	<%= require("html-loader!./html/includes/_header.html").default %>
		<%= require("html-loader!./html/includes/_wrapper.html").default %>
			<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/105/three.js"></script>
			<script src="//cdn.jsdelivr.net/npm/panolens@0.11.0/build/panolens.min.js"></script>
</body>

</html>