<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Language" content="ru">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description"
		content="Насладись атмосферой незабываемых впечатлений в караоке-клубе Jel'sa. Бронь: 8 044 5-201-201.">
	<meta name="keywords" content="Jel'sa,Jelsa,Jelsomino,Джельса,Джельсомино,Караоке,Караоке,Минск">
	<meta name="format-detection" content="telephone=yes">
	<meta name="Author" content="Alexeev Ivan">
	<meta name="Copyright" content="ООО Вокал Индастрит">
	<meta name="Address" content="Республика Беларусь, Минск, Немига 5">
	<meta name="robots" content="all">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="aticle">
	<meta property="og:descritpion"
		content="Насладись атмосферой незабываемых впечатлений в караоке-клубе Jel'sa. Бронь: 8 044 5-201-201.">
	<meta property="og:image" content="https://jelsa.by/assets/svg/wings.svg">
	<meta property="og:url" content="https://jelsa.by/restaurant.html">
	<meta property="og:site_name" content="Караоке Jel'sa">

	<title>
		Jel'sa. Ресторан
	</title>
	<link rel="shortcut icon" href="./assets/content/logo.png" type="image/png">
</head>

<body>
	<%= require("html-loader!./html/includes/_header.html").default %>
		<div class="wrapper">
			<div class="content">
				<%= require("html-loader!./html/includes/_cuisine-bar.html").default %>
					<%= require("html-loader!./html/includes/_footer.html").default %>
			</div>
		</div>
</body>

</html>